.nav-main {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  a {
    position: relative;

    color: var(--clr-gray-700);
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0px;
      width: 0px;
      height: 2px;
      background: var(--clr-gray-700);
      border-radius: 0.0675rem;
      transition: width 0.25s;
    }
  }

  a:hover,
  a:focus-visible {
    &:after {
      width: 100%;
    }
  }
}
