.nav-main {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  a {
    color: #61dafb;
    text-decoration: none;
  }

  a:hover,
  a:focus-visible {
    text-decoration: underline;
  }
}
