.content-width {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.text--center {
  text-align: center;
}

.content-space-block-4 {
  margin-block: 4rem;
}

.highlight {
  color: var(--clr-primary);
}
