.page-header {
  --component-icon-size: 2rem;
  --component-gap: 2rem;
  --component-spacing-block: 1rem;

  --clr-component-background: white;

  background: var(--clr-component-background);
  padding-inline: var(--site-spacing-inline);
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--component-gap);

  padding-block: var(--component-spacing-block);
}

.logo {
  color: var(--clr-primary);

  width: var(--component-icon-size);
  height: var(--component-icon-size);
}
