.page-footer {
  --clr-component-background: var(--clr-gray--800);
  --clr-component-text: white;

  --component-spacing-block: 1rem;

  padding-block: var(--component-spacing-block);

  background: var(--clr-component-background);
  color: var(--clr-component-text);
}

.page-footer__inner {
  padding: 0 var(--site-spacing-inline);
}
