.page-header {
  --component-icon-size: 2rem;
  --component-gap: 2rem;
  --component-spacing-block: 1rem;

  --clr-component-background: white;

  position: fixed;
  z-index: 20;
  top: 0;

  width: 100%;

  background: var(--clr-component-background);
  padding-inline: var(--site-spacing-inline);

  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.1);
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--component-gap);

  padding-block: var(--component-spacing-block);

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.logo-slogan {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  font-weight: bold;
}

.logo-slogan__highlight {
  display: inline-block;
  color: var(--clr-primary);
}

.logo {
  color: var(--clr-primary);

  width: var(--component-icon-size);
  height: var(--component-icon-size);

  margin-inline-end: 0.4rem;
}
